.deps/
clnt_unittest
serv_unittest
config.h.in
config.status
config.log
*.tar.gz
src/hash/Makefile
src/Makefile
*.dmg
.DS_Store
autom4te*
gingko_clnt
gingko_serv
stamp-h1
*.orig
kfp_docs*
server.log
client.log
*.[ao]
build/
*~
.svn/
test
output*
